.main{
    display: flex;
    background-color: #f1e9e9;
    display: flex;
    justify-content: space-between;
    
}
.left{
    width: 19vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    
}
.mainRight{
    
    width: 80.7vw;
    height: 100vh;
    overflow-y: scroll;
    background-color:white;

    
}
.right{

    text-align: center;

    

   
}
.lower h4{
    font-size: 3vh;
    padding-left: 2vw;
    font-weight: lighter;
}
.right h1{
    font-size: 4vw;
    width:50vw ;
}
.right h3{
    font-size: 1.5vw;
    font-weight:lighter;
}
.right button{
    font-size: 1.6vw;
    font-weight: lighter;
    height: 7vh;
    width:18vw ;
    background-color: transparent;
    border-color: white;
    color: white;
    

}
.right button:hover{
    color: black;
    background-color: white;
}
.rightimg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./images/hero1.jpeg);
}
*{
    margin: 0;
    padding: 0                                                      ;
}
.aboutusHeading{
    text-align: center;
    margin: 4vh 0vh 2.5vh 0vh;
    font-size: 3vh;
    color: gray;
}
.cardHead{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    width: 25vw;
    margin: 1.5vw;
    
}
.card h3{
    font-size: 4vh;
    font-weight: 100;
    margin: 1vw;


}


.upper img{
    height: 18vh;
    width: 19vw;
    margin-top: 8vw;
    
    
    
}
.lower {
    margin: 4vw;
    padding-right: 12vw;
    
    
}
.lower h4{
    margin: 3vh;
    
}
.lower h4:hover {
    color: brown;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .contactus{
    text-align: center;
    padding: 0vh 3vh;

    
  }
  .contactus h1{
    font-size: large;
    color: gray;
    padding: 4vh;
  }
  .contactUsLeft{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  .contactUsRight{
    background-color: aqua;
  }
  .contactUsRight img{
    height: 65vh;
    width: 32vw;
  }
  .contactUsLeft img{
    height: 3vh;
    width: 1.8vw;
    padding-right: 1.5vh;
  }
  .contactUsParent{
    display: flex;
    justify-content: space-between;
    
}
.whatsapp{
    background-color:#455a64;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 7vh;
}
.drop{
    height: 8vh;
    width: 13vw;
    font-size: larger;
    background-color: white;
    border-color:black;
    border-radius: 1vh;
}
select{
    border: none;
    color: crimson;
    font-size: 2vh;
    
}
.selectlabel{
    font-size: 2.5vh;
}
.contactus h2{
    font-size: 4vh;
    font-weight: 2vh;
}

.Subscribe{
  background-image:url(images/lastsection.webp);
  height: 37vh;
  width:82vw;
  margin:9vh 0vh 4vh 3vh;
  text-align: center;
  font-size: 3.1vh;
  font-weight: 2vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.middlesubscribe{
  display: flex;
  justify-content: center;
  gap:2vh;
  
}
.middlesubscribe input{
  height: 8vh;
  width: 38vw;
  border-radius: 1.3vh 0vh 0vh 1.3vh;
  border: none;
  padding-left: 2vh;
  font-size: 2.1vh;
  
}
.middlesubscribe button{
  height: 8.5vh;
  width: 9vw;
  font-size: 2.5vh;
  color: white;
  border: 2px solid white;
  background-color: transparent ;
}
.middlesubscribe button:hover {
  background-color: white;
  color: black;
}
.middlesubscribe input{
  box-shadow: 3vh;
}
.copy{
  text-align: center;
  padding-bottom: 5vh;
  opacity: 0.5;
  
  
}

